<section class="section" id="personal_project">
    <h2 class="title-thin text-muted">作品展示</h2>
    <div class="pf-wrap">
        <div class="pf-grid">

        <div class="pf-grid-sizer"></div><!-- used for sizing -->



            <div class="pf-grid-item design">
                <div class="project">
                    <figure class="portfolio-figure">
                        <img src="{{ '/styles/img/portfolio/boke.jpg' | prepend: site.baseurl }}" alt="">
                    </figure>

                    <div class="portfolio-caption text-center">
                        <div class="valign-table">
                            <div class="valign-cell">
                                <h2 class="text-upper">个人网站</h2>
                                <p>搭建了个人网站，托管在gitee，里面的资料都是自己经常会用到的</p>
                                <a href="https://pengboke.gitee.io/" class="pf-btn-view btn btn-primary" target="_blank">详情</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .pf-grid-item -->

            <div class="pf-grid-item design">
                <div class="project">
                    <figure class="portfolio-figure">
                        <img src="{{ '/styles/img/portfolio/zhiwang.jpg' | prepend: site.baseurl }}" alt="">
                    </figure>

                    <div class="portfolio-caption text-center">
                        <div class="valign-table">
                            <div class="valign-cell">
                                <h2 class="text-upper">中文核心论文</h2>
                                <p>2021年6月发表了名为《基于地标表示的联合谱嵌入和谱旋转的谱聚类算法》论文，并被知网收录</p>
                                <a href="https://kns.cnki.net/kcms/detail/detail.aspx?dbcode=CJFD&dbname=CJFDLAST2021&filename=JSJA2021S1038&uniplatform=NZKPT&v=HtGy2cgtEqfZWSW2kKpH2%25mmd2FIBuafrDQ%25mmd2FJ0y3L1R863eUDJkl6LKnLc9buQcMZ7DTn" class="pf-btn-view btn btn-primary" target="_blank">详情</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .pf-grid-item -->
        </div>
    </div>
</section><!-- .section -->